# ========================
# Python (dbt / scripts)
# ========================
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
env/
*.egg-info/
dist/
build/

# ========================
# Jupyter Notebooks
# ========================
.ipynb_checkpoints/

# ========================
# Google BigQuery / GCP
# ========================
*.json
.gcloud/
application_default_credentials.json

# ========================
# Power BI
# ========================
*.pbix
# *.pbit  # Uncomment to also ignore Power BI templates

# ========================
# dbt
# ========================
target/
dbt_packages/
logs/
.dbt/

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
*.swp

# ========================
# env files
# ========================
traffic_env/
venv/
.env/
env/